<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<appender name="APP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/crypto/${HOSTNAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/var/log/crypto/${HOSTNAME}.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<MaxFileSize>${LOG_FILE_SIZE:-100MB}</MaxFileSize>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{60} - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="TRACE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/crypto/trace/trace-${HOSTNAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/var/log/crypto/trace/trace-${HOSTNAME}.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<MaxFileSize>${LOG_FILE_SIZE:-100MB}</MaxFileSize>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{60} - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name ="ASYNC_TRACE_LOG" class= "ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold >0</discardingThreshold>
		<queueSize>1000</queueSize>
		<appender-ref ref ="TRACE_LOG"/>
	</appender>

	<appender name ="ASYNC_CONSOLE" class= "ch.qos.logback.classic.AsyncAppender">
		<!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
		<discardingThreshold >0</discardingThreshold>
		<!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
		<queueSize>1000</queueSize>
		<!-- 添加附加的appender,最多只能添加一个 -->
		<appender-ref ref ="CONSOLE"/>
	</appender>


	<appender name ="ASYNC_APP_LOG" class= "ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold >0</discardingThreshold>
		<queueSize>1000</queueSize>
		<appender-ref ref ="APP_LOG"/>
	</appender>

	<appender name="METRICS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/crypto/metrics-${HOSTNAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>/var/log/crypto/metrics-${HOSTNAME}.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
			<MaxFileSize>20MB</MaxFileSize>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{60} - %msg%n</Pattern>
		</layout>
	</appender>

	<logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR" />
	<logger name="org.apache.catalina.util.LifecycleBase" level="ERROR" />
	<logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN" />
	<logger name="org.apache.sshd.common.util.SecurityUtils" level="WARN" />
	<logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN" />
	<logger name="org.crsh.plugin" level="WARN" />
	<logger name="org.crsh.ssh" level="WARN" />
	<logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR" />
	<logger name="org.hibernate.validator.internal.util.Version" level="WARN" />
	<logger name="org.springframework.boot.actuate.autoconfigure.CrshAutoConfiguration" level="WARN" />

	<springProfile name="native">
		<root level="INFO">
			<appender-ref ref="ASYNC_CONSOLE" />
		</root>
	</springProfile>
	<springProfile name="!native">
		<logger name="tracelog" level="INFO" additivity="false">
			<appender-ref ref="ASYNC_TRACE_LOG" />
		</logger>
		<root level="INFO">
			<appender-ref ref="ASYNC_APP_LOG" />
			<appender-ref ref="ASYNC_CONSOLE" />
		</root>
	</springProfile>
</configuration>
